@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --Playfair: 'Playfair Display', serif;
    --Quicksand: 'Quicksand', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --dark: #3c393d;
    --exDark: #2b2b2b;
    --cultured: hsla(0, 0%, 97%, 1);
    --french-bistre: hsla(31, 17%, 44%, 1);
    --jet: hsla(0, 0%, 20%, 1);
    --bistre: hsla(35, 100%, 9%, 1);
    --bistre_a75: hsla(35, 100%, 9%, 0.75);
    --camel: hsla(30, 30%, 58%, 1);
    --umber: hsla(31, 17%, 36%, 1);
    --golden-brown_a60: hsla(35, 70%, 38%, 0.6);
    --granite-gray: hsla(0, 0%, 38%, 1);   
    --white: hsla(0, 0%, 100%, 1);
    --black: hsla(0, 0%, 0%, 1);
}
*{
    padding: 0;
    margin: 0;
    font-family: var(--Quicksand);
}
body{
    line-height: 1.4;
    color: var(--dark);
}
img{
    width: 100%;
    display: block;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}

/* header */
header{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(IMG/download\ \(2\).jpg) center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.navbar{
    background: rgba(0, 0, 0, 0.6);
    padding: 1.2rem;
    position: fixed;
    width: 100%;
    z-index: 999;
}
.navbar-nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    position: relative;
}
.navbar-nav ul li a{
    text-decoration: none;
    color: var(--camel);
    text-transform: uppercase;
}
.navbar-nav ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #d8b7ba;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar-nav ul li:hover::after{
    width: 100%;
}
.navbar-brand{
    color: var(--french-bistre);
    font-size: 2.5rem;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: var(--Playfair);
    letter-spacing: 1px;
}
.navbar-nav{
    padding: 0.8rem 0 0.2rem 0;
    text-align: center;
}

.banner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white);
}
.banner-title{
    font-size: 6rem;
    font-family: var(--Playfair);
    line-height: 1.2;
}
.banner-title span{
    font-family: var(--Playfair);
    color: var(--camel);
}
.banner p{
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: var(--Roboto);
    font-weight: 300;
    word-spacing: 2px;
}
.banner form{
    background: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
}
.search-input{
    font-family: var(--Roboto);
    font-size: 1.1rem;
    width: 100%;
    outline: 0;
    padding: 0.6rem 0;
    border: none;
}
.search-input::placeholder{
    text-transform: capitalize;
}
.search-btn{
    width: 40px;
    font-size: 1.1rem;
    color: var(--dark);
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
}

.container1 {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    max-width: 800px;
    margin-bottom: 40px;
  }
  
  .container1 h2 {
    font-size: 40px;
    font-family:var(--Playfair);
    font-weight: normal;
    padding: 15px;
    color:#2b2b2b;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  
  .container1 p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 2em;
  }

  /*API */
  *{
    margin: 0;
    padding: 0;
    font-family: "Lara";
}

label, button {
    margin: 10px;
}

button {
    padding: 8px 15px;
    background-color: rgb(216, 216, 216);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
}

.center-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.tooltip {
    position: absolute;
    background-color: #fff;
    border: 1px solid #000;
    padding: 5px;
    opacity: 0;
    pointer-events: none;
}

#orbit-map {
    width: 80%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10%;
}